html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	line-height: 1.3;
	font-family: 'Epilogue', sans-serif;
	font-size: 0.875rem;
	color: $mediumGray;
	font-weight: 500;
}

a, a:visited, a:hover {
	text-decoration: none;
}

.flex {
	display: flex;

	&-jc-sb {
		justify-content: space-between;
	}

	&-jc-c {
		justify-content: center;
	}

	&-jc-end {
		justify-content: end;
	}

	&-ai-c {
		align-items: center;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $almostBlack;
	opacity: 0%;
	visibility: hidden;
}

.side-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: $almostWhite;
}

.dropdown>.menu {
	position: absolute;
	display: none;
	list-style: none;
}

.dropdown:hover>.menu {
	display: block;
	list-style: none;
}



.hide-for-mobile {
	@include breakpoint-down(medium){
		display: none;
	}
}

.hide-for-desktop {
	@include breakpoint-up(large){
		display: none;
	}
}