.header {
	> nav {
		padding: 2.1875rem 2.5rem; //35px 40px
	}

	&_logo {
		margin-right: 3.9375rem;
	}
	&_menu {
		z-index: 1;
	}

	&_links, &_auth, &_auth_for_mobile{
		a {
			color: $mediumGray;
		}
		
		a:hover {
			color: $almostBlack;
		}
	}

	&_links {
		> a,  > div > a {
			margin-right: 2.4375rem;
		}
		.menu {
			border-radius: 10px;
			padding: 1rem 1.25rem;
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
			li:not(:last-child) {
				margin-bottom: 0.5rem;
			}
			img {
				width: 0.9375rem;
				height: 0.9375rem;
				margin-right: 0.875rem;
			}
		}
	}

	&_auth {
		> a {
			padding: 0.8125rem 1.5rem; //13px 24px
		}
		a:last-child {
			margin-left: 1.125rem; //18px
			border: 1.5px solid;
			border-color: $mediumGray;
			border-radius: 15px;
		}
		a:last-child:hover {
			border-color: $almostBlack;
		}
	}

	.dropdown > a > img {
		content:url("/images/icon-arrow-down.svg")
	}

	.dropdown:hover > a > img {
		content:url("/images/icon-arrow-up.svg")
	}

	#menu-img {
		width: 1.625rem;
		height: 1.625rem;
	}

}

.side-menu {
	.header {
		&_links {
			padding: 5.1875rem 1.625rem 0;

			> div.dropdown, > a {
				margin-bottom: 1.875rem;
			}

			.menu {
				display: none;
				box-shadow: none;
				margin: 0;
			}

			> div > a > img {
				content:url("/images/icon-arrow-down.svg")
			}

			.open > a > img {
				content:url("/images/icon-arrow-up.svg")
			}

			.open > ul.menu {
				display: block;
			}
		}

		&_auth_for_mobile {
			padding: 0 1.625rem;
			> a {
				text-align: center;
				padding: 0.9375rem 4.375rem; // 15px 70px
			}

			> a:last-child {
				border: 1.5px solid;
				border-color: $mediumGray;
				border-radius: 15px;
			}

			> a:hover:last-child {
				border-color: $almostBlack;
			}
		}

	}
}