.header {
	> nav {
		padding: 2.1875rem 2.5rem; //35px 40px
	}

	&_logo {
		margin-right: 3.9375rem;
	}
	&_menu {
		z-index: 1;
	}

	&_links, &_auth {
		a {
			color: $mediumGray;
		}
		
		a:hover {
			color: $almostBlack;
		}
	}

	&_links {
		> a,  > div > img {
			margin-right: 2.4375rem;
		}
		.menu {
			border-radius: 10px;
			padding: 1.625rem;
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
			li:not(:last-child) {
				margin-bottom: 0.9375rem;
			}
			img {
				width: 0.9375rem;
				height: 0.9375rem;
				margin-right: 0.875rem;
			}
		}
	}

	&_auth {
		> a {
			padding: 0.8125rem 1.5rem; //13px 24px
		}
		a:last-child {
			margin-left: 1.125rem; //18px
			border: 1.5px solid;
			border-color: $mediumGray;
			border-radius: 15px;
		}
		a:last-child:hover {
			border-color: $almostBlack;
		}
	}

	.dropdown > img {
		content:url("/images/icon-arrow-down.svg")
	}

	.dropdown:hover > img {
		content:url("/images/icon-arrow-up.svg")
	}

	#menu-img {
		width: 1.625rem;
		height: 1.625rem;
	}

}