div.main.hide-for-mobile {
	p.title {
		color: $almostBlack;
		font-weight: 700;
		font-size: 4rem;
		margin-top: 6.25rem;
		margin-bottom: 4.375rem;
	}
	p.paragraph {
		font-size: 1.0625rem;
		margin-bottom: 3.5rem;
	}
	> img {
		width: 30.1875rem;
		height: 40.0625rem;
	}
	a.learnMoreBtn {
		padding: 1.25rem 2.125rem;
		color: $almostWhite;
		border-radius: 15px;
		background-color: $almostBlack;
		height: auto;
		width: 10.25rem;
		text-align: center;
		margin-bottom: 5rem;
		font-size: 0.9375rem;
		border: solid;
		border-color: $almostBlack;
		font-weight: 700;
	}
	a:hover.learnMoreBtn {
		color: $almostBlack;
		background-color: $almostWhite;
	}
	div.client-img {
		> img {
			height: 1.5625rem;
			width: auto;
		}
		> img:not(:last-child) {
			margin-right: 1.875rem;
		}
	}
}