@-webkit-keyframes darken {
  from {
    opacity: 0%;
    visibility: hidden;
  }
  1% {
    opacity: 0%;
    visibility: visible;
  }
  to {
    opacity: 80%;
    visibility: visible;
  }
}
@keyframes darken {
  from {
    opacity: 0%;
    visibility: hidden;
  }
  1% {
    opacity: 0%;
    visibility: visible;
  }
  to {
    opacity: 80%;
    visibility: visible;
  }
}
@-webkit-keyframes lighten {
  from {
    opacity: 80%;
    visibility: visible;
  }
  99% {
    opacity: 0%;
    visibility: visible;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes lighten {
  from {
    opacity: 80%;
    visibility: visible;
  }
  99% {
    opacity: 0%;
    visibility: visible;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@-webkit-keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 66%;
  }
}
@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 66%;
  }
}
@-webkit-keyframes slideOut {
  from {
    width: 66%;
  }
  to {
    width: 0%;
  }
}
@keyframes slideOut {
  from {
    width: 66%;
  }
  to {
    width: 0%;
  }
}
.darken {
  -webkit-animation: darken 140ms linear forwards;
          animation: darken 140ms linear forwards;
}

.lighten {
  -webkit-animation: lighten 140ms linear forwards;
          animation: lighten 140ms linear forwards;
}

.slide-in {
  -webkit-animation: slideIn 140ms linear forwards;
          animation: slideIn 140ms linear forwards;
}

.slide-out {
  -webkit-animation: slideOut 140ms linear forwards;
          animation: slideOut 140ms linear forwards;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-family: "Epilogue", sans-serif;
  font-size: 0.875rem;
  color: hsl(0deg, 0%, 41%);
  font-weight: 500;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-end {
  justify-content: end;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-ai-c {
  align-items: center;
}
.flex-dir-col {
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0deg, 0%, 8%);
  opacity: 0%;
  visibility: hidden;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  background-color: hsl(0deg, 0%, 98%);
}
.side-menu .dropdown > .menu {
  position: relative;
}

.dropdown > .menu {
  position: absolute;
  display: none;
  list-style: none;
}

.dropdown:hover > .menu {
  display: block;
  list-style: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header > nav {
  padding: 2.1875rem 2.5rem;
}
.header_logo {
  margin-right: 3.9375rem;
}
.header_menu {
  z-index: 1;
}
.header_links a, .header_auth a, .header_auth_for_mobile a {
  color: hsl(0deg, 0%, 41%);
}
.header_links a:hover, .header_auth a:hover, .header_auth_for_mobile a:hover {
  color: hsl(0deg, 0%, 8%);
}
.header_links > a, .header_links > div > a {
  margin-right: 2.4375rem;
}
.header_links .menu {
  border-radius: 10px;
  padding: 1rem 1.25rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.header_links .menu li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.header_links .menu img {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.875rem;
}
.header_auth > a {
  padding: 0.8125rem 1.5rem;
}
.header_auth a:last-child {
  margin-left: 1.125rem;
  border: 1.5px solid;
  border-color: hsl(0deg, 0%, 41%);
  border-radius: 15px;
}
.header_auth a:last-child:hover {
  border-color: hsl(0deg, 0%, 8%);
}
.header .dropdown > a > img {
  content: url("/images/icon-arrow-down.svg");
}
.header .dropdown:hover > a > img {
  content: url("/images/icon-arrow-up.svg");
}
.header #menu-img {
  width: 1.625rem;
  height: 1.625rem;
}

.side-menu .header_links {
  padding: 5.1875rem 1.625rem 0;
}
.side-menu .header_links > div.dropdown, .side-menu .header_links > a {
  margin-bottom: 1.875rem;
}
.side-menu .header_links .menu {
  display: none;
  box-shadow: none;
  margin: 0;
}
.side-menu .header_links > div > a > img {
  content: url("/images/icon-arrow-down.svg");
}
.side-menu .header_links .open > a > img {
  content: url("/images/icon-arrow-up.svg");
}
.side-menu .header_links .open > ul.menu {
  display: block;
}
.side-menu .header_auth_for_mobile {
  padding: 0 1.625rem;
}
.side-menu .header_auth_for_mobile > a {
  text-align: center;
  padding: 0.9375rem 4.375rem;
}
.side-menu .header_auth_for_mobile > a:last-child {
  border: 1.5px solid;
  border-color: hsl(0deg, 0%, 41%);
  border-radius: 15px;
}
.side-menu .header_auth_for_mobile > a:hover:last-child {
  border-color: hsl(0deg, 0%, 8%);
}

div.main.hide-for-mobile p.title {
  color: hsl(0deg, 0%, 8%);
  font-weight: 700;
  font-size: 4rem;
  margin-top: 6.25rem;
  margin-bottom: 4.375rem;
}
div.main.hide-for-mobile p.paragraph {
  font-size: 1.0625rem;
  margin-bottom: 3.5rem;
}
div.main.hide-for-mobile > img {
  width: 30.1875rem;
  height: 40.0625rem;
}
div.main.hide-for-mobile a.learnMoreBtn {
  padding: 1.25rem 2.125rem;
  color: hsl(0deg, 0%, 98%);
  border-radius: 15px;
  background-color: hsl(0deg, 0%, 8%);
  height: auto;
  width: 10.25rem;
  text-align: center;
  margin-bottom: 5rem;
  font-size: 0.9375rem;
  border: solid;
  border-color: hsl(0deg, 0%, 8%);
  font-weight: 700;
}
div.main.hide-for-mobile a:hover.learnMoreBtn {
  color: hsl(0deg, 0%, 8%);
  background-color: hsl(0deg, 0%, 98%);
}
div.main.hide-for-mobile div.client-img > img {
  height: 1.5625rem;
  width: auto;
}
div.main.hide-for-mobile div.client-img > img:not(:last-child) {
  margin-right: 1.875rem;
}

div.main.hide-for-desktop p.title {
  text-align: center;
  color: hsl(0deg, 0%, 8%);
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
}
div.main.hide-for-desktop p.paragraph {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
div.main.hide-for-desktop a.learnMoreBtn {
  padding: 1.25rem 2.125rem;
  color: hsl(0deg, 0%, 98%);
  border-radius: 15px;
  background-color: hsl(0deg, 0%, 8%);
  height: auto;
  width: 10.25rem;
  text-align: center;
  margin-bottom: 5rem;
  font-size: 0.9375rem;
  border: solid;
  border-color: hsl(0deg, 0%, 8%);
  font-weight: 700;
}
div.main.hide-for-desktop a:hover.learnMoreBtn {
  color: hsl(0deg, 0%, 8%);
  background-color: hsl(0deg, 0%, 98%);
}
div.main.hide-for-desktop div.client-img > img {
  height: auto;
  width: calc((100% - 4.875rem) / 4);
}
div.main.hide-for-desktop div.client-img > img:not(:last-child) {
  margin-right: 1.625rem;
}/*# sourceMappingURL=style.css.map */